{:paths ["src/clojure" "src/java" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
        expound/expound {:mvn/version "0.9.0"}
        metosin/jsonista {:mvn/version "0.3.3"
                          :exclusions [com.fasterxml.jackson.core/jackson-databind]}
        com.taoensso/nippy {:mvn/version "3.3.0-alpha2"}
        org.clojure/java.data {:mvn/version "1.0.86"}
        potemkin/potemkin {:mvn/version "0.4.5"}
        reply/reply {:mvn/version "0.5.1"
                     :exclusions [javax.servlet/servlet-api]}
        zero.one/fxl {:mvn/version "0.0.6"}
        org.apache.spark/spark-avro_2.12      {:mvn/version "3.2.1"}
        org.apache.spark/spark-core_2.12      {:mvn/version "3.2.1"}
        org.apache.spark/spark-hive_2.12      {:mvn/version "3.2.1"}
        org.apache.spark/spark-mllib_2.12     {:mvn/version "3.2.1"}
        org.apache.spark/spark-sql_2.12       {:mvn/version "3.2.1"}
        org.apache.spark/spark-streaming_2.12 {:mvn/version "3.2.1"}
        mysql/mysql-connector-java            {:mvn/version "8.0.29"}
        org.postgresql/postgresql             {:mvn/version "42.4.0"}
        org.xerial/sqlite-jdbc                {:mvn/version "3.36.0.3"}
        org.apache.arrow/arrow-memory-netty   {:mvn/version "8.0.0"}
        org.apache.arrow/arrow-memory-core    {:mvn/version "8.0.0"}
        org.apache.arrow/arrow-vector         {:mvn/version "8.0.0"
                                               :exclusions [commons-codec/commons-codec
                                                            com.fasterxml.jackson.core/jackson-databind]}}}